![png](image/books-erd.PNG)

# Imports and Configuration

In [1]:
# imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import pandas as pd

In [2]:
connection = "mysql+pymysql://root:Hjtsai$$1031@localhost/books"

# create engine
engine = create_engine(connection)

In [3]:
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print("The database created!")

It exists!

# Create Database

In [4]:
#read users csv
users=pd.read_csv('Data/users.csv')

#add table
users.to_sql('users', engine, if_exists = 'replace')

3

In [11]:
#check with query
q = """
SHOW TABLES;
"""
pd.read_sql(q, engine)

  Tables_in_books
0           books
1           users

In [7]:
#read books csv
books=pd.read_csv('Data/books.csv')

#add table
books.to_sql('books', engine, if_exists = 'replace')

6

In [12]:
#check with query
q = """
SHOW TABLES;
"""
pd.read_sql(q, engine)

  Tables_in_books
0           books
1           users

# Test Database