<img src = 'Image/books ERD.png'>

# create database

In [1]:
# imports
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [2]:
connection = f"mysql+pymysql://{'root'}:{urlquote('Hjtsai$$1031')}@localhost/book"
# create engine
engine = create_engine(connection)

In [3]:
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print("The database created!")

The database created!

# add tables

In [4]:
#read users csv
users=pd.read_csv('Data/users.csv')

print(users.head())

#add table
users.to_sql('users', engine, if_exists = 'replace')

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

3

In [5]:
#check with query
q = """
SHOW TABLES;
"""
pd.read_sql(q, engine)

  Tables_in_book
0          users

In [6]:
#read books csv
books=pd.read_csv('Data/books.csv')

#add table
books.to_sql('books', engine, if_exists = 'replace')

6

In [7]:
#check with query
q = """
SHOW TABLES;
"""
pd.read_sql(q, engine)

  Tables_in_book
0          books
1          users

In [8]:
#read authos csv
authors=pd.read_csv('Data/authors.csv')

#add table
authors.to_sql('authos', engine, if_exists = 'replace')

5

In [9]:
#check with query
q = """
SHOW TABLES;
"""
pd.read_sql(q, engine)

  Tables_in_book
0         authos
1          books
2          users

In [10]:
#read favorites csv
favorites=pd.read_csv('Data/favorites.csv')

#add table
favorites.to_sql('favorites', engine, if_exists = 'replace')

7

In [11]:
#check with query
q = """
SHOW TABLES;
"""
pd.read_sql(q, engine)

  Tables_in_book
0         authos
1          books
2      favorites
3          users

# Test Database

In [13]:
#check with query
q = """
SELECT b.title, f.user_id
FROM books AS b
JOIN favorites AS f
ON b.id = f.book_id
WHERE f.user_id =
(SELECT u.id
FROM users AS u
WHERE u.last_name = "Doe"
AND u.first_name = "John");
"""

pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1